#container{
    border: 2px solid;
}

#container  p{
    background-color: yellow;
}

#container>p{
    background-color: rgb(180, 180, 78);
}

#container~p{
    background-color: rgb(95, 42, 96);
}

#container + p{
    background-color: rgb(44, 201, 107);
}